@import '~@angular/material/theming';
@include mat-core();

$primary: #1b5e20;
$accent: #03a9f4;
$warn: #f44336;

$primary-theme: mat-palette($mat-green,900);
$accent-theme: mat-palette($mat-light-blue,500);
$warn-theme: mat-palette($mat-red);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$theme: mat-dark-theme(
    $primary-theme,
    $accent-theme,
    $warn-theme
);

@include angular-material-theme($theme);